BINANCE_API_KEY=your_key
BINANCE_API_SECRET=your_secret
NTFY_TOPIC=your_ntfy_topic
solar_validation_username=your_username
solar_validation_password=your_password
solar_validation_plantid=your_plantid
solar_alerter_topic=your alerter topic